@import "tailwindcss";
@plugin "daisyui";
@import "@fontsource-variable/tasa-orbiter";
@import "@fontsource-variable/inter";

@theme {
  --font-sans: "Inter Variable", "sans-serif";
}

/* @theme {
  --font-sans: "TASA Orbiter Variable", "sans-serif";
} */

:root {
  scroll-behavior: smooth;
}

.viewPill {
  position: absolute;
  left: 20px; /* align with your card padding */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* behind content */
  pointer-events: none; /* don't block hover/click */

  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  will-change: transform, padding;
  padding: 12px 16px; /* your “natural” padding */
}

.img,
.text-content {
  position: relative;
  z-index: 2;
}
